body {
  background-color: rgb(4, 26, 84);
  color: #687280;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(48, 87, 170);
  color: white;
  flex-direction: column;
}

.header1 {
  background-color: rgb(1, 17, 48);
  height: 70px;
}

.header2 {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  background-color: white;
}

.margen {
  margin-right: 200px;
  margin-left: 200px;
}

.margen3 {
  margin-left: 30px;
}

.container {
  width: 1920px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #687280;
}

.izquierda {
  width: 15%;
}

.derecha {
  width: 85%;
}

.abajo {
  display: flex;
  justify-content: space-around;
  margin: 20px 300px 20px 400px;
}

.izquierda1 {
  width: 50%;
  border-right: 1px solid #687280;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  font-size: 30px;
}

.izquierda2 {
  width: 50%;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  font-size: 30px;
}

.derecha1 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.linea {
  border-right: #687280 1px solid;
  height: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.fondo{
  background-image: url("images/empresario.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}

button {
  font-size: 1em;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  border: 0;
  font-weight: bold;
  color: rgb(4, 26, 84);
}

.blanco {
  color: white;
}

.azul {
  color: rgb(4, 26, 84);
}

.texto1 {
  font-size: 20px;
}

.texto2 {
  font-size: 70px;
  padding: 30px;
}

.texto3 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 10px;
}

.margen-superior {
  margin-top: 250px;
}

.margen-lado {
  margin-left: 100px;
}

.imagen {
  width: 20px;
  height: 20px;
}

.imagen2 {
  width: 20px;
  height: 20px;
}

.separacion {
  margin-left: 60px;
}