body {
  background-color: rgb(4, 26, 84);
  color: #687280;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 1900px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  flex-direction: column;
}

.header1 {
  background-color: rgb(1, 17, 48);
  height: 70px;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: white;
  padding: 0px 180px
}

.margen {
  margin-right: 200px;
  margin-left: 200px;
}

.margen2 {
  margin-right: 100px;
}

.margen3 {
  margin-right: 10px;
  margin-top: 25px;
}

.container {
  max-width: 1900px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #687280;
}

.izquierda {
  width: 15%;
}

.derecha {
  width: 85%;
}

.abajo {
  display: flex;
  justify-content: center;
  max-width: 1900px;
  word-wrap: break-word;
}

.izquierda1 {
  width: 50%;
  border-right: 1px solid #687280;
  justify-content: center;
  display: flex;
  padding-right: 30px;
  font-size: 30px;
}

.izquierda2 {
  width: 50%;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  font-size: 30px;
}

.derecha1 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}

.linea {
  border-right: #687280 1px solid;
  height: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.fondo {
  background-image: url("images/empresario.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}

button {
  font-size: 1em;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  border: 0;
  font-weight: bold;
  color: rgb(4, 26, 84);
  margin-left: 100px;
}

.blanco {
  color: white;
  font-size: 30px;
}

.azul {
  color: rgb(4, 26, 84);
}

.texto1 {
  font-size: 20px;
  padding-left: 200px;
}

.texto2 {
  font-size: 70px;
  padding: 30px;
}

.texto3 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 200px;
}

.margen-superior {
  margin-top: 250px;
  margin-bottom: 20px;
}

.margen-lado {
  margin-left: 100px;
}

.margen-lado2 {
  margin-left: 310px;
}

.imagen {
  height: 20px;
}

.imagen2 {
  width: 20px;
  height: 20px;
}

.separacion {
  margin-left: 60px;
}

.derecha-redes {
  gap: 20px;
}

.separacion2 {
  margin-right: 10px;
}

.ancho {
  width: 500px;
}

.margen-inferior {
  padding-left: 150px;
}

.margen-boton {
  margin-left: 100px;
}