body {
  background-color: #ffffff;
  color: #687280;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
}

.margen {
  margin-right: 200px;
  margin-left: 200px;
}

.container {
  width: 1820px;
  border: 1px solid rgb(255, 0, 0);
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #687280;
}

.izquierda {
  width: 15%;
}

.derecha {
  width: 85%;
}