body {
  background-color: rgb(4, 26, 84);
  color: #687280;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgb(48, 87, 170);
  color: white;
}

.header1 {
  background-color: rgb(4, 26, 84);
}

.header2 {
  background-color: white;
}

.margen {
  margin-right: 200px;
  margin-left: 200px;
}

.margen3 {
  margin-left: 30px;
}

.container {
  width: 1890px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #687280;
}

.izquierda {
  width: 15%;
}

.derecha {
  width: 85%;
}

.abajo {
  display: flex;
  justify-content: center;
}

.izquierda1 {
  width: 50%;
  border-right: 1px solid #687280;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  font-size: 30px;
}

.izquierda2 {
  width: 50%;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  font-size: 30px;
}

.derecha1 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.linea {
  border-right: #687280 1px solid;
  height: 15px;
  margin-left: 10px;
}

main{
  background-image: url("images/empresario.jpg");
  background-size: cover;
  width: 1920px;
  height: 800px;
}

main button {
  font-size: 2em;
  border-radius: 5px;
}

.blanco {
  color: white;
}

.azul {
  color: rgb(4, 26, 84);
}

.texto1 {
  font-size: 30px;
}

.texto2 {
  font-size: 70px;
  padding: 30px;
}

.margen-superior {
  margin-top: 200px;
}

.margen-lado {
  margin-left: 100px;
}